/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/screen_shots
/public/uploaded_photos
/public/uploaded_videos
/public/photo_banner
/public/video_banner
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
